<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!--
<table>
    <tr>
        <th>ID</th>
        <th>TEXT</th>
        <th>TAG</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.id}">id</td>
        <td th:text="${message.text}">text</td>
        <td th:text="${message.tag}">tag</td>
    </tr>

</table>
-->
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение" />
        <input type="text" name="tag" placeholder="Тэг" />
        <button type="submit">Добавить</button>
    </form>
</div>
<br />
<div>Список сообщений</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Найти</button>
</form>
<div th:each="message : ${messages}">
    <b th:text="${message.id}">id</b>
    <span th:text="${message.text}">text</span>
    <i th:text="${message.tag}">tag</i>
</div>

</body>
</html>